@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inconsolata:wght@700&family=Lalezar&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(119deg, #FFF -2.02%, #5DCAE5 126.77%) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: #3FB0CB;
    font-size: 45px;
}



.button{
    position:absolute;
    top:0px;
    left:0px;
}

.header {
    width: 121.338px;
    height: 1436px;
    transform: rotate(-90deg);
    flex-shrink: 0;
}
